body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background: #720e0e;
  color: #000000;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  padding: 25px 55px;
  background: rgb(199, 169, 169);
  position: sticky;
  top: 0;
}

nav a {
  margin-left: 20px;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

/* HERO */
.hero {
  text-align: center;
  padding: 100px 20px;
  background: linear-gradient(to bottom, #c92626, #7c7c7c);
}

/* PRODUCTS */
.products {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 50px;
  flex-wrap: wrap;
}

.card {
  background: rgb(129, 129, 129);
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  width: 220px;
  transition: 0.3s;
  box-shadow: 0 10px 25px rgba(255, 255, 255, 0.1);
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
}

.card button {
  margin-top: 10px;
  padding: 8px 15px;
  border: none;
  border-radius: 15px;
  background: rgb(179, 124, 124);
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.card button:hover {
  background: #ffffff;
}

/* CONTACT */
.contact {
  text-align: center;
  padding: 50px;
  background: rgb(109, 58, 58);
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
}